body {
   font-family: 'Times New Roman', Times, serif;
   font-size: 12pt;   
}

h1 {
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 40px;
}

h2 {
   margin: 3px;
   font-size: 1.25em;
}

.box {
   background-color: #e0e0eb;
   margin-bottom: 10px;
   border: 1px solid black;
   box-sizing: border-box;
   overflow: auto;
   width: 100%;
}

.menutext {
   clear: right;
   padding: 15px;
}

.chickenTitle, .beefTitle, .sushiTitle {
   text-align: center;
   border: 1px solid black;
   border-top-width: 0px;
   border-right-width: 0px;
   width: 40%;
   font-size: 1.25em;
   float: right;
}

.chickenTitle {
   background-color:#D59898;
}

.beefTitle {
   background-color:#C14543;
   color: white;
}

.sushiTitle {
   background-color: #fc542a;
   color: white;
   text-shadow: 1px 1px #444;
}

@media (min-width: 992px) {
   .menu-section-lg {
      width: 33.33%;  
      float: left;
      padding: 10px;
      box-sizing: border-box;
   }
}

@media (max-width: 991px) and (min-width: 768px){
   .menu-section-md {
      width: 50%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
   }
   .menu-section2-md {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
   }
}

@media (max-width: 767) {
   .menu-section-xs {
      width: 100%;
      padding: 10px;
   }
}

