body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 1px solid black;
    padding: 30px;
}

.navbar-brand h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
    color: #951C49;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav {
    margin-top: 0px;
}

#nav-list a {
    color: #951C49;
    border-bottom: 1px solid black;
}

#nav-list a:hover {
    background: #E7E7E7;
}


.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.collapsable-nav a {
    font-size: 1.2em;
}

h1 {
    font-size: 2em;
    height: 100px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

#menu-title {
    margin-bottom: 50px;
}

.content {
    margin-bottom: 100px;
    background-color: grey;
    padding: 20px;
}
/*
#main-content {
    width: 100%;
}*/

@media (min-width: 992px) {
    #collapsable-nav {
        display: none !important;
    }  
}

@media (min-width:768px) and (max-width: 991px) {
    #collapsable-nav {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: #f6b319;
    }
}